<html>
<head>
 <link rel="stylesheet" href="http://interactive.fusion.net/real-future-show/app.b7d933d8.css" />
</head>
<body>
    <h2>Virtual Girlfriend</h2>
    <h3>Recordings</h3>
    <ul style="list-style-type:none; text-align:center; padding-left: 0px;">
        {% for recording in recordings %}
        <li style="padding-top: 15px;">
            <p>{{recording.date_created | timesince}}</p>
            <audio src="{{recording.uri}}" controls />
        </li>
        {% endfor %}
    </ul>
</body>
</html>
